/* footer */

.container-footer {
    background-color: #fff;
    color: black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.footer-info>h6 {
    font-size: 22px;
    line-height: 30px;
    padding-top: 76px;
    margin: 0px 0 66px 125px;
}

.footer-info>p {
    font-size: 20px;
    line-height: 27.32px;
    opacity: 0.5;
    margin: 0 0 0px 125px;
    padding-bottom: 20px;
}