/* project section */

.project {
    margin-top: 150px;
}

.project-title {
    font-size: 55px;
    line-height: 71.5px;
    margin-bottom: 40px;
}

.project-list {
    margin-bottom: 80px;
}

.project-metrika-wrapper,
.project-fesiyen-wrapper,
.project-denis-wrapper {
    position: relative;
}

.project-metrika-img,
.project-fesiyen-img,
.project-denis-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 30px;
}

.project-title-img {
    position: absolute;
    font-size: 35px;
    line-height: 45.5px;
    color: #fff;
    bottom: 94px;
    left: 50px;
}

.project-text-img {
    position: absolute;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    bottom: 50px;
    left: 50px;
}

.project-metrika-wrapper::after,
.project-fesiyen-wrapper::after,
.project-denis-wrapper::after {
    background-image: url(..//files/Interior-Design.png);
    background-image: url(..//files/travel-order.png);
    background-image: url(..//files/product-presentation.png);
}

.project-metrika-wrapper::after,
.project-fesiyen-wrapper::after,
.project-denis-wrapper::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 47px;
    background-repeat: no-repeat;
    top: 50px;
    left: 45px;
}

.project-btn {
    width: 582px;
    height: 153px;
    border-radius: 10px;
    background-color: #1BFF07;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
    line-height: 39px;
    cursor: pointer;
    margin-bottom: 150px;
}

.project-btn:hover {
    background-color: black;
    color: #1BFF07;
    border-color: #1BFF07;
    transition: 0.5s;
}

@media (max-width: 1199px) {

    .project-title {
        font-size: 45px;
        line-height: 58px;
        margin-bottom: 53px;
    }
    
    .project-list {
        margin-bottom: 64px;
    }

    .project-metrika-img,
    .project-fesiyen-img,
    .project-denis-img {
        height: 445px;
    }

    .project-title-img {
        font-size: 28px;
        line-height: 36px;
        left: 40px;
        bottom: 76px;
    }

    .project-text-img {
        font-size: 24px;
        line-height: 31px;
        left: 40px;
        bottom: 40px;;
    }

    .project-metrika-wrapper::after,
    .project-fesiyen-wrapper::after,
    .project-denis-wrapper::after {
    background-image: url(..//files/Interior-Design-mini.png);
    background-image: url(..//files/travel-order-mini.png);
    background-image: url(..//files/product-presentation-mini.png);
    }

    .project-metrika-wrapper::after,
    .project-fesiyen-wrapper::after,
    .project-denis-wrapper::after {
    width: 210px;
    height: 38px;
    background-repeat: no-repeat;
    top: 50px;
    left: 45px;
    }
    
    .project-btn {
        width: 460px;
        height: 124px;
        border-radius: 8px;
        font-size: 25px;
        line-height: 32px;
    }
}